<header>
    <link rel="stylesheet" type="text/css" href="/css/navbar2.css">
   
  
      <nav class="index-nav">
        <h1 class="logo">Tradeit</h1>
        <ul>
          <li><a href="#" class="current">VIEW USERS</a></li>
          <li><a href="#">VIEW BOOKS</a></li>
          <li><a href="#">VIEW SALES</a></li>
         
        </ul>
      </nav>
   
  </header>
