<header>
    <link rel="stylesheet" type="text/css" href="/css/navbar2.css">
   
  
      <nav class="index-nav">
        <h1 class="logo">Tradeit</h1>
        <ul>
          <li><a href="/bhome"> HOME</a></li>
          <li><a href="/home/bookregister">SELL BOOKS</a></li>
          <li><a href="/home/order">ORDER BOOK</a></li>
          <li><a href="/home/mybooks"> MY BOOKS</a></li>
            <li><a href="/home/confirmation"><i class="fa-solid fa-envelope fa-2xl"></i></a> </li>
          
         
        </ul>
      </nav>
   
  </header>