<header>
    <link rel="stylesheet" type="text/css" href="/css/navbar2.css">
   
  
      <nav class="index-nav">
        <h1 class="logo">Tradeit</h1>
        <ul>
          <li><a href="/home" class="current">VIEW BOOKS</a></li>
          <li><a href="/home/order">ORDER BOOK</a></li>
          <li><a href="/home/mybook">MY BOOKS</a></li>
         
        </ul>
      </nav>
   
  </header>