 <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />   
    <script src="https://kit.fontawesome.com/66776f9ec8.js" crossorigin="anonymous"></script> 
    <title>LBS Book Depot</title> 