<link rel="stylesheet" type="text/css" href="/css/navbar.css">


  <div class="navbar">
      <h1 class="text-primary">TRADEit</h1>

        <ul>

          <li><a href="/">USER LOGIN</a></li>
        </ul>
 
    </div>