<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
  <link rel="stylesheet" href="../css/stylesheet.css">
  <title>welcome to Tradeit</title>
</head>

<body>

  <!--same for all page-->
  <header id="head">
    {{>navbar2}}
   </header>

  <!--upto here same for all page-->


</body>

</html>