<!DOCTYPE html>
<html lang="en">

<head>
{{>header}}
  <link rel="stylesheet" href="/css/passwordreset.css">
  <title>Password reset</title>
</head>



<body>
  <section id="verification-container">
    <form action="#">
      <div class="input-field resetpw">
        <label for="new-password">Enter New Password</label>
        <input type="text" name="new-password" id="new-password">
      </div>
      <div class="input-field">
        <label for="confirm-new-pw">Confirm Password</label>
        <input type="text" name="confirm-new-pw" id="confirm-new-pw">
      </div>
      <button type="submit" id="submit" class="verification-btn">Submit</button>
  
    </form>
  
  </section>
  <script type="text/javascript" src="/js/resetpassword.js"></script>
</body>

</html>