<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    <title>Document</title>
    <link rel="stylesheet" href="/css/viewuser.css">
</head>
<body>
    {{>adminnavbar}}


    <table class="content-table">
        <thead>
            <tr style="border-bottom: 2px black solid;">
              
                <th>USER ID</th>
                <th>NAME</th>
                <th>Semester</th>
                <th>Department</th>
                <th>MOBILE</th>
                <th>EMAIL</th>
                <th>USERNAME</th>
               
               
            </tr>
        </thead>
        <tbody id="output"></tbody>
    </table>
    <script type="text/javascript" src="/js/viewuser.js"></script>
</body>
</html>