<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
        <link rel="stylesheet" href="/css/viewbook.css">
    </head>
 
    <body>
        {{>homepagenavbar}}
        

   
            <div class="grid-space">
             {{#each result}}
                
                 <div class="grid-box" >
                   
                       <img src='/upload/{{upload}}' alt="here is the image">
                      <p>{{bookname}}</p>
                      <a href="/home/bookdetail?bid={{bookid}}"></a>
                 </div>
             {{/each}}
           </div>        

 
      {{!-- <script type="text/javascript"src="/js/viewbook.js"></script>  --}}
    </body>  

</html>
